
<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <div class="form-login">
        <h4>Welcome to the "Bank of HSR"</h4>
        <form #f="ngForm" (ngSubmit)="f.form.valid && doRegister(f)">
          <div class="form-group">
            <div>
              <input pattern=".{2,}" class="form-control"  placeholder="First name" type="text" name="firstname" ngModel required/>
            </div>
          </div>
          <div class="form-group">
            <div>
              <input pattern=".{2,}" class="form-control"  placeholder="Last name" type="text" name="lastname" ngModel required/>
            </div>
          </div>
          <div class="form-group">
            <div>
              <input pattern=".{3,}" class="form-control"  placeholder="Username" type="text" name="login" ngModel required/>
            </div>
          </div>
          <div class="form-group">
            <div>
              <input pattern=".{3,}" class="form-control"  placeholder="Password" type="password" name="password" ngModel required/>
            </div>
          </div>
          <div class="form-group">
            <div>
              <input pattern=".{3,}" class="form-control"  placeholder="Confirm Password" type="password" name="passwordConfirm"/>
            </div>
          </div>
          <button class="btn btn-primary">Register</button>
          <small>oder</small>
          <a class="btn btn-primary" href="/welcome" role="button">Abbrechen</a>
        </form>
      </div>
    </div>
  </div>
</div>
