<h1>Transactions</h1>
<select (change)="onChangeYear($event.target.value)" >
  <option value="2017">2017</option>
  <option value="2016">2016</option>
  <option value="2015">2015</option>
</select>


<select (change)="onChangeMonth($event.target.value)" >
  <option value="01">Januar</option>
  <option value="02">Februar</option>
  <option value="03">März</option>
  <option value="04">April</option>
  <option value="05">Mai</option>
  <option value="06">Juni</option>
  <option value="07">Juli</option>
  <option value="08">August</option>
  <option value="09">September</option>
  <option value="10">Oktober</option>
  <option value="11">November</option>
  <option value="12">Dezember</option>
</select>

<table>
  <tr>
    <th>Datum</th>
    <th>Von</th>
    <th>Nach</th>
    <th>Betrag</th>
    <th>Total</th>
  </tr>
  <tr *ngFor="let res of transactions">
    <td>{{res.date.toDateString()}}</td>
    <td>{{res.from}}</td>
    <td>{{res.target}}</td>
    <td>{{res.amount}}</td>
    <td>{{res.total}}</td>
  </tr>
</table>
