<h1>Transactions</h1>
<select>
  <option value="2017">2017</option>
  <option value="2016">2016</option>
  <option value="2015">2015</option>
</select>


<select>
  <option value="Januar">Januar</option>
  <option value="Februar">Februar</option>
  <option value="März">März</option>
  <option value="April">April</option>
  <option value="Mai">Mai</option>
  <option value="Juni">Juni</option>
  <option value="Juli">Juli</option>
  <option value="August">August</option>
  <option value="September">September</option>
  <option value="Oktober">Oktober</option>
  <option value="November">November</option>
  <option value="Dezember">Dezember</option>
</select>


<table>
  <tr>
    <th>Datum</th>
    <th>Von</th>
    <th>Nach</th>
    <th>Betrag</th>
    <th>Total</th>
  </tr>
  <tr *ngFor="let res of transactions">
    <td>{{res.date}}</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
  <tr>
    <td>John</td>
    <td>Doe</td>
    <td>80</td>
  </tr>
</table>
